.vite
config
dist
docs
node_modules
public
scripts
.eslintrc.cjs
.gitignore
.prettierignore
.swcrc
jest.config.cjs
*.md
src/vite-env.d.ts
vite.config.ts
package.json
package-lock.json
tsconfig.json
tsconfig.node.json
tsconfig.prod.json